body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}

canvas {
    background-color: #555;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
}





